
.navbar {
  padding-top: 5%;
  z-index: 1000;
}

.nav-title {
  font-family: "Prettywise", sans-serif;
  color: #ffff;
  font-size: 28px;
  text-decoration: none;
}
.nav-header{
  font-family: "Prettywise", sans-serif;
  color: #8281F5;
  font-size: 28px;
  text-decoration: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  background: white;
  border-radius: 2px;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1050;
  padding: 2rem;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
}

.menu-overlay.active {
  transform: translateX(0);
}

.nav-divider{
  border: none;
  height: 1px;
  background-color: #C4C5D9;
  margin: 0 auto;
}

.navbar-nav li a{
  text-decoration: none;
  color: #101137;
  font-size: 1.1rem;
  display: block;
  padding: 16px 16px 16px 8px;
  border-radius: 3px;
}
.navbar-nav li a:hover {
  background-color: #e9eaf6;
  color: #8281F5;
  font-weight: 400;
}


@font-face {
  font-family: "Prettywise";
  src: url("/assets/fonts/Fontspring-DEMO-prettywise-regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.gradient{
  height: 250px;
  max-width: 100%;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: baseline;
  background-size: cover;
  background-position: 50%;
}

.card-profile{
  border-radius: 15px;
  background-color: #ffffff;
  border: none;
  position: relative;
  color: #101137;
}

.profile-placeholder {
  width: 74px;
  height: 74px;
  background-color: #cccccc;
  border-radius: 8px;
}
