
.navbar {
  padding-top: 10%;
  z-index: 1000;
}

.nav-title {
  font-family: "Prettywise", sans-serif;
  color: #ffff;
  font-size: 28px;
  text-decoration: none;
}
.nav-header{
  font-family: "Prettywise", sans-serif;
  color: #8281F5;
  font-size: 28px;
  text-decoration: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  background: white;
  border-radius: 2px;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1050;
  padding: 2rem;
  padding-top: 17%;
  display: flex;
  flex-direction: column;
}

.menu-overlay.active {
  transform: translateX(0);
}


.navbar-nav li{
padding-bottom: 1rem;
padding-top: 1rem;
}

.navbar-nav li a{
  text-decoration: none;
  color: #101137;
  font-size: 1.1rem;

}

.menu-list li a::after {
  font-weight: 400;
}

@font-face {
  font-family: "Prettywise";
  src: url("/assets/fonts/Fontspring-DEMO-prettywise-regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.gradient{
  height: 300px;
  max-width: 100%;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: baseline;
  background-size: cover;
  background-position: 50%;
}

.card-profile{
  border-radius: 15px;
  background-color: #ffffff;
  border: none;
  position: relative;
  color: #101137;
}

.profile-placeholder {
  width: 74px;
  height: 74px;
  background-color: #cccccc;
  border-radius: 8px;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 1rem;
}

.breadcrumb-item {
  font-size: 0.9rem;
  color: #c4c5d9;
}

.card{
  border-radius: 15px;
  background-color: #ffffff;
  border: none;
  color: #101137;
}

.program-icons img {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
}

.icon-mac{
  width: 46.45px;
  height: 30px;
  object-fit: contain;
}

.icon-school{
  width: 46px;
  height: 40.71;
  object-fit: contain;
}

.icon-pen{
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.icon-book{
  width: 46px;
  height: 39.43px;
}

.footer-gradient {
  background: linear-gradient(135deg, #8e9dfc, #b993f9);
}

.footer-divider{
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 60%;
  margin: 0 auto;
}
