<!-- Footer -->
<footer class="footer-gradient mt-3 py-3 text-center text-white">
  <p class="mb-3 fw-bold fs-5">Sígueme</p>
  <div class="mb-2">
    <li class="me-2 list-inline-item"> <img src="assets/img/Insta.svg" alt="Instagram" class="btn-icon"></li>
    <li class="me-2 list-inline-item"> <img src="assets/img/Linkedin.svg" alt="Linkedin" class="btn-icon"> </li>

  </div>
  <hr class="footer-divider mt-4">
  <small class="d-block text-white-50 fw-medium mt-2">Camila Monje</small>
</footer>
<!-- End Footer -->
