.footer-gradient {
  background: linear-gradient(135deg, #8e9dfc, #b993f9);
}

.footer-divider{
  border: none;
  height: 1px;
  background-color: #C4C5D9;
  width: 60%;
  margin: 0 auto;
}

.btn-icon{
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}
