body {
    font-family: "Poppins", sans-serif;
    color: #333;
    background-color: #f8f9fa;
}
header {
    text-align: center;
    background: #C4C5D9;
    color: #101137;
    padding: 20px;
}
section {
    padding: 20px;
}