.container-fluid{
  background-image: url('/assets/img/Gradient.svg'); /* Ruta de la imagen */
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  font-family: "Poppins", sans-serif;
}


.title{
    color: white;
    font-weight: 600;
}


.sub-title {
  color: white;
  font-weight: 300;
  padding-top: 7%;
}

.button {
    max-width: 400px;       /* Máximo ancho del botón en pantallas grandes */
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.375rem;
    background-color: #8281F5;
    border: 1px solid #8281F5;
    color: white;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    cursor: pointer;
}

.button:active {
    background-color: #7751F5;
    border-color: #7751F5;
    color: white !important;
}

.button:focus {
   outline: none;
    box-shadow: 0 0 0 0.25rem rgba(130, 129, 245, 0.5); /* efecto visual al hacer focus */
    border-color: #8281F5;
    color: white !important;
}
